* {
  margin: 0;
  padding: 0;
}

body {
  font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  background-color: #eee;
  font-size: 18px;
}

header {
  background-color: #ddd;
}

p {
  background-color: #fff;
  font-size: 15px;
  margin: 0;
  padding: 5px 0 5px 0;
}

#logo {
  text-align: center;
}